
<div class="col-md-@Model.Span">
    <MudTextField T="string" Label="@Model.Label" Required="@Model.Required" RequiredError="@(Model.Label + "is required!")" />
</div>

@code {
    [Parameter]
    public TextBoxComponent Model { get; set; }

    private string Value
    {
        get
        {
            return Model.Value?.ToString();
        }
        set
        {
            Model.Value = value;
        }
    }
}
