<div class="row col-12">
    <div class="col-12">
        <DynamicComponent Type="@InferType()" Parameters="@GetDynamicParams()"></DynamicComponent>
    </div>
    <div>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Light" Text="@Options.CancelButtonText" Style="width: 120px" />
        <MudButton OnClick="Ok" Variant="Variant.Filled" Text="@Options.OkButtonText" Style="width: 120px" />
    </div>
</div>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public BaseResource Resource { get; set; }

    [Parameter]
    public PageDialogOption Options { get; set; }

    private Type InferType()
    {
        return Type.GetType("BlazorlyClientApp.Components." + Resource.BlzControl);
    }

    private Dictionary<string, object> GetDynamicParams()
    {
        return new Dictionary<string, object>()
        {
            { "Model", Resource }
        };
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Ok()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}
